.button.back-to-top {
  position: sticky;
  top: 720px;
  right: 0;
  z-index: 100;
  padding: 2px 8px;
  width: auto;
  border-radius: 50%;
  float: right;
  text-align: center;
}
.button.back-to-top:hover {
  cursor: pointer;
}
